[Unit]
Description=controller-manager
After=etcd_custom.service
After=docker_custom.service
After=apiserver.service
Wants=etcd_custom.service
Wants=docker_custom.service
Wants=apiserver.service

[Service]
ExecStart=/opt/bin/kube-controller-manager --master=http://10.0.0.1:8080 --machines=10.0.0.1,10.0.0.2

[Install]
