[Unit]
Description=flannel
Requires=etcd_custom.service
After=etcd_custom.service

[Service]
ExecStart=/opt/bin/flannel -iface=10.20.20.109 -etcd-endpoints=http://10.20.20.109:2379
ExecStartPost=-/bin/bash -c "until [ -e /run/flannel/subnet.env ]; do echo \"waiting for write.\"; sleep 3; done"

[Install]
