[Unit]
Description=Kubernetes Kubelet
After=etcd_custom.service
After=docker_custom.service
Wants=etcd_custom.service
Wants=docker_custom.service

[Service]
ExecStart=/opt/bin/kubelet --address=10.20.20.109 --port=10250 --hostname_override=10.20.20.109 --etcd_servers=http://10.20.20.109:2379 --allow_privileged=true --logtostderr=true --api_servers=10.20.20.109:8080

[Install]
