[Unit]
Description=Kube Proxy
After=etcd_custom.service
After=docker_custom.service
Wants=etcd_custom.service
Wants=docker_custom.service

[Service]
ExecStart=/opt/bin/kube-proxy --etcd_servers=http://10.20.20.109:4001 --logtostderr=true

[Install]
