[Unit]
Description=Kube Scheduler
After=etcd_custom.service
After=docker_custom.service
After=apiserver.service
Wants=etcd_custom.service
Wants=docker_custom.service
Wants=apiserver.service

[Service]
ExecStart=/opt/bin/kube-scheduler --master=10.20.20.109:8080

[Install]
