[Unit]
Description=API Server
After=etcd_custom.service
After=docker_custom.service
Wants=etcd_custom.service
Wants=docker_custom.service

[Service]
ExecStart=/opt/bin/kube-apiserver --address=192.168.56.210 --port=8080 --etcd_servers=http://192.168.56.210:2379 --portal_net=10.100.0.0/16 --allow_privileged=true --logtostderr=true

[Install]

