[Unit]
Description=flannel
Requires=etcd_custom.service
After=etcd_custom.service

[Service]
ExecStart=/opt/bin/flannel -iface=192.168.56.210 -etcd-endpoints=http://192.168.56.210:2379
ExecStartPost=-/bin/bash -c "until [ -e /run/flannel/subnet.env ]; do echo \"waiting for write.\"; sleep 3; done"

[Install]
