[Unit]
Description=Kubernetes Kubelet
After=etcd_custom.service
After=docker_custom.service
Wants=etcd_custom.service
Wants=docker_custom.service

[Service]
ExecStart=/opt/bin/kubelet --address=192.168.56.210 --port=10250 --hostname_override=192.168.56.210 --etcd_servers=http://192.168.56.210:2379 --allow_privileged=true --logtostderr=true --api_servers=192.168.56.210:8080

[Install]
