[Unit]
Description=Kube Proxy
After=etcd_custom.service
After=docker_custom.service
Wants=etcd_custom.service
Wants=docker_custom.service

[Service]
ExecStart=/opt/bin/kube-proxy --etcd_servers=http://192.168.56.210:2379 --logtostderr=true

[Install]
