[Unit]
Description=Kubernetes Kubelet
After=etcd_custom.service
After=docker_custom.service
Wants=etcd_custom.service
Wants=docker_custom.service

[Service]
ExecStart=/opt/bin/kubelet --address=198.162.52.126 --port=10250 --hostname_override=198.162.52.126 --etcd_servers=http://198.162.52.126:4001 --allow_privileged=true --logtostderr=true --api_servers=198.162.52.126:8080

[Install]
